@import "./variables/variabls.scss";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
        transition: background-color var(--theme-trans), color var(--theme-trans);

        padding-top: 64px;
}

.content-page {
    display: flex;
}   


@media (max-width: 768px) {
    .app {
        padding-top: 72px;
    }
}