.page-wrapper {
  flex-grow: 1;
  padding: var(--spacing-l);
  background: var(--color-background);
  transition: background-color var(--theme-trans);
  min-height: calc(100vh - var(--navbar-height));
}
